@import "tailwindcss";
@import "primeicons/primeicons.css";

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  background: #f8fafc;
  color: #0f172a;
  font-family: Inter, ui-sans-serif, system-ui, sans-serif;
}